body{
  background-color: black;
  color: white;
}

.div{
  display: grid;
  grid-template-columns:0fr 1fr;

}
.div > *{
  height: 100vh;
}
.leftpanel{
  width: 100%;

}
.home{
  width: 100%;
}
.action{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action > * {
  padding: 0.7rem;

  padding-bottom: 10rem;

}
.active{
  display: block;
  padding: 0.2rem 0.3rem;
  background-color: rgb(30, 0, 255);
  border-radius: 5px;
}
.avt img{
  width: 60px;
}
.ease{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.ease img{
  width: 30px;
}
.act img{
  width: 40px;
}
.hw{
  margin-left: 2rem;
  width: 25%;
}
.box{
  margin-top: 1.2rem;
}
.arr{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.boximage img{
  width: 50px;
}
.boxt h1{
  margin-top: -2px;
  margin-bottom: -12px;
  font-size: 1rem;
  font-weight: 600;
}
.boxt p{
  font-size: 14px;
  font-weight: 400;
}
.bar{
  height: 4px;
  border-radius: 10px;
  background-color: rgb(222, 222, 222);
  margin-top: 0.5rem;
  margin-bottom: -10px;
}
.comp{
  height: 110%;
  border-radius: 20px;
}
.boxl{
  display: flex;
  justify-content: space-between;
}
.points{
  font-weight: 600;
}
.dtext2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dtext2 h1{
  font-size: 2rem;
  font-weight: 500;
}
.dtext3{
  display: flex;
  justify-content: space-between;
}
.dtext3 h5{
  font-weight: 500;
}
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media (max-width: 1000px){
  .hw{
    width: 50%;
  } 
}