body{
  margin: 0;
  padding: 0;
}
img{
  width: 50%;

}

#card{
  text-align: center;
  border: 1px solid gray;
  border-radius: 18px;

}
.main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main > * {
  padding: 1rem;
  margin: 1rem;
  flex: 1 1 20%;
}